body {
    margin: 0;
    font-family: 'Smythe', cursive;
}

#container {
    width: 600px;
    margin: 40px auto auto auto;
    border: 1px black solid;
}

h1, h2 {
    margin: 0px;
}

#header {
    padding: 46px;
    background-image: url("images/background.jpeg");
    background-size: cover;
    color: white;
}

h1 {
    size: 39px;
}

h2 {
    size: 22px;
}

.menu-option {
    display: flex;
}

.hidden {
    display: none;
}

#main {
    padding: 20px 46px 0px 46px;
}

.menu-option {
    padding: 46px 0px 46px 0px;
}

.emoji {
    font-size: 78px;
}

.menu-option {
    border-bottom: 1px solid #D2D2D2;
}

.add-option-btn-container {
    margin-left: auto;
}

.details {

    margin-left: 20px;
}

p {
    margin: 0px;
}

.menu-option-name {
    font-size: 28px;
}

.menu-option-ingredients {
    font-size: 16px;
    line-height: 24px;
}

.menu-option-price {
    font-size: 20px;
    line-height: 24px;
}

.add-option-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    background: white;
    font-size: 32px;
    color: #3C3C3C;
    font-family: 'Inter', sans-serif;
    padding: 0px 0px 2px 0px;
    margin-top: 5px;
}

#order-and-thank-you {
    padding: 40px 0px 50px 0px;
}

.order-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.order-item {
    display: flex;
}

.order-item-name {
    font-size: 28px;
}

.order-item-remove {
    font-size: 12px;
    font-family: Verdana;
    color: #BBBBBB;
    border: none;
    background: none;
    margin-left: 8px;
    margin-top: 2px;
}

.order-item-price {
    font-size: 24px;
    margin-left: auto;
}

#order-items {
    border-bottom: 2px solid #393333;
    padding-bottom: 16px;
}

#total-price {
    padding-top: 16px;
    display: flex;
}

#total-price-title {
    font-size: 28px;
}

#total-price-value {
    font-size: 24px;
    margin-left: auto;
}

#complete-order-btn {
    margin-top: 53px;
    background-color: #16DB99;
    color: white;
    border: none;
    font-family: Verdana;
    width: 100%;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    border-radius: 2px;
    font-weight: 700;
}

#card-details {
    font-family: Verdana;
    margin: 46px;
    box-shadow: 0 0 1000px #666;
    padding: 47px 24px 0px 24px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 524px;
    box-sizing: border-box;
    height: 592px;
    background-color: white;
}

#card-details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 47px;
}

#card-details input, #card-details button {
    height: 71px;
    width: 100%;
    margin-bottom: 23px;
    border-radius: 2px;
}

#card-details button {
    margin-top: 23px;
    background-color: #16DB99;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

#card-details-form {
    margin-bottom: 0px;
}

#card-details input {
    padding-left: 26px;
    border: 1px solid #757575;
}

#thank-you {
    color: #065F46;
    background-color: #ECFDF5;
    text-align: center;
    font-size: 32px;
    width: 504px;
    padding: 51px 0 51px 0;
}



